{% extends 'base.html' %}

{% block content %}

<div class="container home">
    <div class="text-container" >
        <h1>Начни свой путь в мир музыки с нами!</h1>
    </div>

    <p style="margin-top:-50px;margin-bottom:100px; padding:5px 100px 0px 100px; font-size: 22px; position: relative;text-align: center;">TranSong - игра, суть которой угадать песню, переведенную через переводчик и потом обратно в оригинал.</p>

    <a href="../../compilations"><button class="submit-btn home-btn" type="submit" value="Send">НАЧАТЬ</button></a>
</div>

{% endblock %}